
	  <table class="table table-bordered table-striped text-center" summary="Purchases List">
    	  <tr class="header">
      		<th>Item ID</th>
      	  	<th>Description</th>
	  	  	<th>Actions</th>
			<th>Due Date</th>
			<th> Details </th>
    	  </tr>
    	  <tr>
      		<th>0000001</th>
	  		<th>Large bore valves - Inspection</th>
	  		<th>2 reviews; 1 approval</th>
			<th>2015/12/26</th>
			<th><a href="#">More Info</a></th>
    	  </tr>
    	  <tr>
      		<th>0000002</th>
	  		<th>Scrubber Package - Welding Procedures</th>
	  		<th>5 reviews; 1 approval</th>
			<th>2015/12/26</th>
			<th><a href="#">More Info</a></th>
    	  </tr>
	  </table>