<nav class="navbar navbar-default navbar-bottom navbar-text-center">
    <div class="col-md-4"> 
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
    </div>
    <div class="col-md-4"> 
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
    </div>
    <div class="col-md-4">
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
		<a href='#'>Link 1</a></br>
    </div>
</nav>