<<<<<<< HEAD

	<div class="col-md-3 col-sm-6 col-xs-6 col-footer-1"> 
=======
<nav class="navbar navbar-default navbar-fixed-bottom navbar-text-center">
	<div class="col-md-3 col-sm-6 col-xs-6"> 
>>>>>>> benreeves
		<h3>About Us</h3>
		<a href='/landing/about'>Our Team</a></br>
		<a href='#'>Investor Information</a></br>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-footer-2"> 
		<h3>Products</h3>
		<a href='#'>Procurement</a></br>
		<a href='#'>Document Control</a></br>
		<a href='#'>Records Management</a></br>
		<a href='#'>Daily Reporting</a></br>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-footer-3"> 
		<h3>Support</h3>
		<a href='#'>FAQ</a></br>
		<a href='#'>Contact Us</a></br>
		<a href='#'>Documentation</a></br>
    </div>
	<div class="col-md-3 col-sm-6 col-xs-6 col-footer-4"> 
		<h3>Social</h3>
		<i class="fa fa-phone fa-2x"></i>
		<i class="fa fa-envelope-o fa-2x"></i>
	</div>

