<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/banner')%>
</div>


<div class="row row-landing text-center">
	</br></br><h2>Designed with quality in mind.</h2>
	<p>Everything you need is readily available, and stored securely.</p>
	</br></br>
	<a class="btn btn-primary btn-med btn-1 " href="/users/new" role="button">Free Account</a> <%= %>
	<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Contact Us</a>
	
</div>

	
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>