<div class="row row-1 text-center">
	<%= render(:partial=>'/project/banner')%>
</div>


<div class="row row-landing text-center">
	</br></br><h2>Designed with quality in mind.</h2>
	<p>Everything you need is readily available, and stored safely.</p>
	
	</br></br><h2>Your project is a priority.</h2>
	<p>We'll work with you to ensure your needs are met.</p>
	
	</br></br><h2>A personal touch.</h2>
	<p>Get in touch through the form linked below and we'll be in touch ASAP.</p>
	</br><br>
	<a class="btn btn-primary btn-med btn-1 " href="/users/new" role="button">Free Account</a> <%= %>
	<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Contact Us</a>
	
</div>

	
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>