<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/banner')%>
</div>


<div class="row row-2 text-center">
	</br></br><h2>Our Team</h2>
	</br></br>
	<a class="btn btn-primary btn-med btn-1 " href="/users/new" role="button">Free Account</a> <%= %>
	<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Contact Us</a>
	
</div>

	
