<div class="row row-1 text-center">
	<%= render(:partial=>'/project/banner')%>
</div>


<div class="row row-landing text-center">
	</br></br><h2>Focus on what's important</h2>
	<p>Automate tasks that take time and energy from your team, your vendors, your clients and yourself.</p>
	<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Free Account</a>
	
</div>

	
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>