
<div class="row row-1 text-center">
	<%= render(:partial=>'/project/banner')%>
</div>


<div class="row row-2 text-center">
	<h1>VendorDocs</h1>
	<h2>Project automation specialists</h2>
		<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Learn More</a>
</div>