
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/banner')%>
</div>


<div class="row row-landing text-center">
	<div class="landing-text">
	<h1><i class="fa fa-cog"></i> LaminarDocs</h1>
	<h2/>Procurement software for engineered products.</h2>
	<p></p>
		<a class="btn btn-primary btn-med btn-1 " href="/landing/products" role="button">Product Info</a>
		<a class="btn btn-primary btn-med btn-1 " href="/landing/new" role="button">Try it out</a>
	</div>
</div>


<div class="row row-footer text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>
