
<div class="row row-1 text-center">
	<%= render(:partial=>'/project/banner')%>
</div>


<div class="row row-landing text-center">
	<h1>Laminar Projects</h1>
	<h2/>Simple document control.</h2>
	<p></p>
		<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Learn More</a>
		<a class="btn btn-primary btn-med btn-1 " href="/project/index" role="button">Free Account</a>
	
</div>

	
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>