
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/banner')%>
</div>


<div class="row row-landing text-center">
	<h1>LaminarDocs</h1>
	<h2/>Procurement of engineered products, simplified.</h2>
	<p></p>
		<a class="btn btn-primary btn-med btn-1 " href="/landing/products" role="button">Product Info</a>
		<a class="btn btn-primary btn-med btn-1 " href="/landing/new" role="button">Create Account</a>
</div>

	
<div class="row row-1 text-center">
	<%= render(:partial=>'/landing/footer')%>
</div>