
<<<<<<< HEAD
	<div class="row row-2 row-heading text-center">
  		<div class="col-md-4 col-left">
			<h2>Personal Account</h2>
			<p>Add team members later.</p>
			<p>5 GB free storage</p>
			<p>1 GB extra storage for every team member added.</p>
			<p></p>
=======

<div class="row row-5 text-center">
  	<div class="col-md-4">
		<h1>Personal Account</h1>
		<p>Get organized.</p>
>>>>>>> benreeves
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Free</a>
		</div>
		<div class="col-md-4 col-middle">
			<h2>Register a team</h2>
			<p>Up to 20 team members</p>
			<p>5 GB free storage</p>
			<p>1 GB extra storage for every team member added.</p>
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Free</a>
  		</div>
		<div class="col-md-4 col-right">
			<h2>Premium Accounts</h2>
			<p>Secure cloud storage.</p>
			<p>Unlimited users on your project.</p>
			<p>24/7 product support</p>
			<p></p>
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Coming Soon</a>
<<<<<<< HEAD
<<<<<<< HEAD
  		</div>
	</div>
	
=======
=======
>>>>>>> benreeves
  	</div>
	
</div>
>>>>>>> benreeves


	