	<div class="row row-1 text-center">
		<%= render(:partial=>'/landing/banner')%>
	</div>

	<div class="row row-2 text-center">
  		<div class="col-md-4 col-left">
			<h1>Personal Account</h1>
			<p>Get organized.</p>
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Free</a>
		</div>
		<div class="col-md-4 col-middle">
			<h1>Register a team</h1>
			<p>Register your team for a 4 month free trial.</p>
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Free Trial</a>
  		</div>
		<div class="col-md-4 col-right">
			<h1>Premium Accounts</h1>
			<p>Secure cloud storage.</p>
			<p>Unlimited users on your project.</p>
			<p>24/7 product support</p>
			<p></p>
			<a class="btn btn-primary btn-med btn-1 " href="/landing/about" role="button">Coming Soon</a>
  		</div>
	</div>
	
	<div class="row row-footer text-center">
	<%=render(:partial => '/landing/footer')%>
	</div>

	