
<div class = "row row-heading text-center row-2">
	
	
  	  <div class="col-md-2"> 
	  </div>
  
  
  	<div class="col-md-8">

		<div class="row">
	  		<h1>Delete PO</h1>
			<%=link_to("Cancel", {:controller => 'master_pos', :action => 'index'})%>
		</div>
		
		<div class="row row-2">
			<div class="col-md-4"></div>
			
			<div class="col-md-4">
			
			</br></br>
		    <%= form_for(:project, :url => {:action => 'destroy', :id => @po.id}) do |f| %>

		     <p>Are you sure you permanenty want to delete this project?</p>
			 <p class="reference-name"><%= @po.id %></p>

		      <div class="form-buttons">
		        <%= submit_tag("Delete Project") %>
		      </div>
			  <%  end %>

		</div>
		
		
		
		<div class="col-md-4"></div>
		</div>
		
	
	
	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>