
<ul class="nav nav-tabs nav-stacked nav-side" role="tablist">
	
	<li><a href="/projects/dashboard">Dashboard</a></li>
	
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Tasks <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="/tasks/index">Outstanding</a></li>
		  <li><a href="/tasks/index">Index</a></li>
		  <li><a href="#">Stats</a></li>
	    </ul>
	  </li>
	
	
	
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Purchases <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="/master_pos/index">Index</a></li>
		  <li><a href="/items/new">New</a></li>
		  <li><a href="#">Search</a></li>
	    </ul>
	  </li>
	
	
	<li><a href="/projects/schedule">Schedule</a></li>
	<li><a href="#">Settings</a></li>
	
</ul>