<div class = "row row-2 row-heading text-center">
	<div class="col-md-3 col-side">
	  		<%= render(:partial => '/projects/sidenavigation') %>
	</div>


	<div class="col-md-8">
		
		<div class ="row text-center">
 		
 			<div class="col-md-9 col-title">
 				<h1>Your Projects</h1>
 			</div>
 			<div class="col-md-3">
				<br>
 				<br><a href="/projects/new">Create New Project</a>
 			</div>
			
		</div>
		
		
		<div class ="row row-2 text-center">
  			<table class="table table-bordered table-striped text-center" summary="Tasks List">
				<tr class="header">
					<th>Project Name</th>
					<th>Is Active</th>
					<th>Description</th>
					<th>Total Purchases</th>
					<th>Details</th>
				</tr>
				<% i = 0 %>	
				<% @projects.each do |project|%>	
				<tr>
					<td><%=project.project_name%></td>
					<td><%=project.is_active%></td>
					<td>Details</td>
					<td>X</td>
					<td><a href="#">Details</a></td>
					</tr>	
					<% end %>
			</table>
		</div>

	<div class="col-md-1 col-side">
	</div>

	</div>

</div>




	



