<div class="row row-1">
	<%= render(:partial => '/landing/banner') %>  
</div>


<div class="row row-2 text-center">
	<div class="col-md-3">
	  		<%= render(:partial => '/project/sidenavigation') %>
	</div>
	
	<div>
		<%="Schedule Graphic"%>
	</div>
</div>