<div class="row row-1">
	<%= render(:partial => 'banner') %>  
</div>


<div class = "row text-center row-2 container-fluid">
  	<div class="col-md-6 col-1">
		<h1>You have <%=@tasks%> outstanding tasks</h1>
  	</div>
  	<div class="col-md-3 col-2">
		<h1>ACTION</h1>
  	</div>
  	<div class="col-md-3 col-3">
		<h1>ACTION</h1>
  	</div>
</div>

<div class="row text-center row 3">
	<h1>ACTIONS</h1>
</div>