<div class="row row-1">
	<%= render(:partial => 'banner') %>  
</div>


<div class = "row text-center row-2">
	
	
  	  <div class="col-md-2"> 
	  </div>
  
  
  	<div class="col-md-8">
	  <h2>Your Projects</h2>
	 	<div class="col-md-6"><a href="/project/home"><%=image_tag('folder.jpg')%></a>Project 1</div>
		<div class="col-md-6"><a href="/project/home"><%=image_tag('folder.jpg')%></a>Project 2</div>
  	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>