<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link')%>
<%= link_to("See Full PO>>", '#', :class => 'master')%>
	
	

<div class="row text-center row-1">
	<h1>PO Line Item Details</h1>
	
	 <h1><%= @polineitem.po_id%>, <%= @polineitem.status_code%></h1>
</div>