// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	color: white;
}

h2 {
	color: white;
}

p {
	color: white;
}

a {
	color: green;
}

.row-landing {
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
    	), 
		url('clean_office_desk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vw;
}

.landing-text {
	padding-top: 100px;
}


.row-carousel {
	padding-left: 50px;
	padding-right: 50px;
}



.row-2 {
	background: lightgrey;
	padding-bottom: 75px;
}

.row-footer {
	background: white;
	padding-top: 15px;
}



.col-left {
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
    	), 
		red;
	height: 315px;
}

.col-middle {
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
    	), 
		green;
		height: 315px;
}

.col-right {
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
    	), 
		blue;
	height: 315px;
}


.btn-primary {;
	-webkit-transition: all 0.5s ease;
}

.btn-primary:hover {
	-webkit-transform: scale(1.1);
	background: grey;
	box-shadow: 3px 3px 5px #000;
}

.fa:hover {
	-webkit-transform: scale(1.2);
}




.col-footer-1 {
	border-right: green solid 1px;
	height: 150px;
}

.col-footer-2 {
	border-right: green solid 1px;
	height: 150px;
}

.col-footer-3 {
	border-right: green solid 1px;
	height: 150px;
}


.col-footer-4 {
	height: 150px;
}



