// Place all the styles related to the Buyer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: lightgrey;
}

th {
	text-align: center;
}
.row-1 {
	padding-left: 1vw;
	height: 50px;
}

.row-2 {
}

.navbar-brand {
	height: 1vw;
}



.col-1 {
	background: lightgreen;
}

.col-2 {
	background: lightblue;
}
.col-3 {
	background: orange;
}
