// Place all the styles related to the Buyer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: lightgrey;
}

.col-2 {
	background: grey;
	height: 20vw;
}

th {
	text-align: center;
}

.row-1 {
	height: 50px;
}

.row-3 {
	background: grey;
	padding: 15px;
}


.row-4 {
	background: green;
	padding: 15px;
}


.form-header {
	width: 200px;
}


.navbar-brand {
	height: 1vw;
}

