// Place all the styles related to the Buyer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
	background: lightgreen;
}

h4 {
	color: green;
}

body {
	background: white;
	font-family: 'Josefin Sans', sans-serif;
}

.row-heading {
	padding-top: 50px;
}

.col-2 {
	background: grey;
	height: 20vw;
}

th {
	text-align: center;
}

.row-1 {
	height: 50px;
}
.row-2 {	
}



.row-3 {
	background: grey;
	padding: 15px;
}

.col-dashboard-right {
	padding: 50px;
}


.row-4 {
	background: green;
	padding: 15px;
}


.form-header {
	width: 200px;
}


.navbar-brand {
	height: 1vw;
}





